.css-selector {
    font-family: url('style.css');
    }

@font-face {
    font-family: 'urbanist';
    src: url('/fonts/Urbanist-VariableFont_wght.ttf') format('Urbanist-VariableFont_wght');
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: normal;
}
@font-face {
    font-family: 'urbanist-italic';
    src: url('/fonts/Urbanist-Italic-VariableFont_wght.ttf') format('Urbanist-Italic-VariableFont_wght');
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: italic;
}
